* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    font-family: 'Lato', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#navbar #name {
    font-size: 3vw;
    font-weight: bold;
}

#navbar .list ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar .list ul li {
    margin-left: 20px;
}

#navbar .list ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

#navbar .list ul li a:hover {
    color: #64ffda;
}
#navbar .list ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease; 
    border-bottom: 2px solid transparent; 
    padding-bottom: 3px; 
}

#navbar .list ul li a:hover {
    color: #64ffda;
    border-bottom: 2px solid #64ffda; 
}
.toggle-btn {
    display: none;
    font-size: 3vw;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .toggle-btn {
        display: block;
    }

    #nav-links {
        display: none;
        width: 100%;
    }

    #nav-links ul {
        flex-direction: column;
        background-color: #0a192f;
        padding: 10px 0;
    }

    #nav-links ul li {
        margin: 10px 0;
        text-align: center;
    }

    #nav-links.show {
        display: block;
    }

    #navbar {
        padding: 15px 20px; 
    }
}

.full {
    width: 100%;
    height: auto; 
    min-height: 100vh;
    border-bottom: 1px solid black;
    padding: 20px 0; 
    font-family: lato, sans-serif;
    font-weight: 400;
    /* font-style: italic; */
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: #0a192f;
    color: white;
    background-image: url(por.JPG);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    #home {
        flex-direction: row;
        text-align: left;
        padding: 0; 
    }

    .hero {
        position: static; 
        width: 50%; 
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center; 
        padding-left: 50px; 
    }
}



.hero * {
    padding: 10px 0; 
}

.hero img {
    width: 30px;
    height: 30px;
}

.image-btn {
    display: inline-block;
}

.btn {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap; 
}




.btn button {
    margin: 5px 10px 5px 0; 
    border-radius: 20px;
    width: auto; 
    padding: 10px 20px; 
    height: auto;
    transition: background-color 0.3s ease, color 0.3s ease,
     transform 0.2s ease-in-out, 
     box-shadow 0.2s ease-in-out; 
}
.btn button:hover {
    background-color: #64ffda;
    color: #0a192f;
    transform: scale(1.05); /* Slightly scale up on hover */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}
.img-card {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    background-color: black;
    margin: 20px auto; 
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding: 5% 5%;
    font-size: 30px;
    background-color: rgb(170, 174, 173);
}

#about h1 {
    margin-bottom: 20px;
}

#skills {
    background-color: rgb(170, 174, 173);
    padding: 20px;
}

#projects {
    background-color: rgb(170, 174, 173);
    padding: 20px;
}

#card {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



.card:hover {
    transform: translateY(-5px) rotate(-1deg); 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15); 
}
.card {
    width: calc(50% - 20px);
    max-width: 300px; 
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(35, 30, 30) !important;
    height: auto;
}

.card a {
    width: auto;
}

#education {
    background-color: rgb(170, 174, 173);
    padding: 20px;
}

.eduin {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
}
@media (max-width: 900px)
{
    .eduin{
    flex-direction: column; 
    justify-content: center;
    }

    #about{
        flex-direction: column; 
    justify-content: center;
    }
}
.educards {
    width: 90%; 
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    margin: 50px 0; 
    padding: 20px;
}

.bar {
    background-color: gray;
    height: 20px;
    text-align: right;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    background-color: blue;
    line-height: 25px;
    color: white;
    height: 100%;
    text-align: right;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    padding: auto;
}

.bar-container {
    margin: 10px 0; 
    padding: 10px;
}

#contacts {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    padding: 20px;
    background-color: rgb(235, 243, 241);
}
@media (max-width: 900px)
{
    #contacts{
    flex-direction: column; 
    justify-content: center;
    }


    
}
.address,
.form {
    width: 90%; 
    max-width: 500px; 
    margin: 20px 0; 
    padding: 20px;
    background-color: rgb(240, 245, 243);
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

form * {
    width: 100%;
    border: 2px solid black;
    padding: 10px;
}

.blink {
    animation-name: come;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.blink:first-child {
    animation-delay: -7s;
}

.blink:last-child {
    animation-delay: -4s;
}

@keyframes come {
    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
        transform: scale(1);
    }

    50%,
    80% {
        filter: blur(10px); 
        opacity: 0.8; 
        transform: scale(2); 
    }
}

#about,
#skills,
#projects,
#education,
#contacts 
{
    background-color: #f8f8f8; 
}
.nav-res
{
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #0a192f;
    float: right;
    display: none;

}
.nav-res ul{
    list-style: none;
}
.nav-res ul li
{
    padding: 10px;
    border-bottom: 2px solid white;
}
.nav-res ul li a{
    text-decoration: none;
    color: white;
}




/* footer */

.footer {
    width: 100%;
    background-color: #000;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 60px 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-section h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .footer-desc {
    font-size: 16px;
    color: #ccc;
    margin-bottom: 20px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
    color: #aaa;
    font-size: 16px;
  }
  
  .footer-section p {
    margin-bottom: 10px;
    color: #ccc;
    font-size: 16px;
  }
  
  .social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    margin-top: 10px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s;
  }

  /* res nav */

  .res-list 
  {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 7;
    display: none;
  }

  .res-list ul
  {
    list-style: none;
  }
  .res-list ul li a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0;
    background-color: #000;
    width: 100%;
    border-bottom: 2px solid white;
  }

  .res-list2{
    display: block;
  }

  @media (min-width: 900px)
{
    #res-listid
    {
        display: none;
    }

    
}


.img-container
{
    display: none;
    width:50%;
    height: 50%;
    position:fixed;
    top:30%;
    left:10%;
    z-index: 9;

}
#image
{
   width: 800px;
   height: 400px;
    overflow: hidden;
}

.show{
    display:block;
}

.close
{
    position: absolute;
    top: 0;
    right: 0;
    
    font-size: 5rem;
    cursor: pointer;
}